body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333333;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #333333;
    border-left: 1px solid #dddddd;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .row {
    border-top: 1px solid #dddddd;
  }
  
  .hour {
    background-color: #ffffff;
    color: #333333;
    border-top: 1px dashed #dddddd;
  }
  
  .past {
    background-color: #ff7575;
    color: white;
  }
  
  .present {
    background-color: #6a6aff;
    color: white;
  }
  
  .future {
    background-color: #5bdb5b;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid #dddddd;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #06aed5;
    color: white;
    cursor: pointer;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s;
  }
  